
  @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;

}
html{
    font-size: 63%;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #2c3e50, #4ca1af);
}
.Typing_section{
    text-align: center;
}

#Typing{
    border: 0.1rem solid #A084DC;
    border-radius: 1rem;
    max-width: 50rem;
    width: 50rem;
    height: 20rem;
    padding: 1rem 2rem;
    font-size: 1.6rem;


}
#btn{
    display: inline-block;
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 2.5rem;
    background-color: #90e8f5;
    color: black;
    margin-top: 1.6rem;
}
h2{
    font-size: 2.3rem;
    text-transform: capitalize;
    color: #90e8f5;
    text-align: center;
}
#Sentence, #showScore{
    font-size: 1.6rem;
    margin: 2rem 0;
    letter-spacing: 0.02rem;
    text-align: center;

}

